* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #f5f8ff;
}
.wrapper{
  width: 95%;
  margin: 0 auto;
  max-width: 1280px;
}
#search-container{
  padding: 1em;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}
#search-container input{
  background-color: transparent;
  width: 20em;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-container input:focus{
  border-bottom-color: #1c91b4;
}
#search-container #search{
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #1c91b4;
  color: #fff;
  border-radius: 5px;
  margin-top: 0.5em;
  cursor: pointer;
}
#search-container #burger{
  margin-left: auto;
  cursor: pointer;
  height: 3.5em;
  aspect-ratio: 1;
  background-color: transparent;
  display: none;
}
#search-container #burger img{
  width: 100%;
  height: 100%;
}
.button-value{
  border: 2px solid #1c91b4;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #1c91b4;
  cursor: pointer;
}
.active{
  background-color: #1c91b4;
  color: #fff;
}
#products{
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
}
#buttons{
  row-gap: 0.4em;
  column-gap: 0.5em;
  display: flex;
  flex-wrap: wrap;
  position: static;
  margin-top: 1em;
}
.button-back{
  display: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 1em;
}
.button-back img{
  width: 3.5em;
  height: 3.5em;
  transition: transform 0.3s ease;
}
.button-back img:hover{
  transform: rotate(-180deg);
}
.card{
  background-color: #fff;
  max-width: 22em;
  margin-top: 1em;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.card img {
  width: 100%;
  object-fit: cover;
  height: 20em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5{
  font-weight: 500;
}
.hide{
  display:none;
}
@media screen and (max-width: 720px){
  img {
    height: 10em;
    width: 8em;
  }
  .card {
    max-width: 15em;
  }
  #products{
    grid-template-columns: auto auto;
  }
  #search-container #burger {
    display: block;
  }
  #buttons {
    height: 100lvh;
    width: 10em;
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    padding-top: 5em;
    row-gap: none;
    column-gap: none;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    background-color: #1c91b4;
    margin-top: 0;
  }
  .button-value {
    border: 2px solid #fff;
    padding: 1em 2.2em;
    width: 100%;
    text-align: left;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: block;
  }
  .button-back {
    display: block;
  }
  .open {
    animation: slideIn 0.2s forwards;
  }
  .close {
    animation: slideIn 0.2s reverse forwards;
  }
  .active {
    background-color: #fff;
    color: #1c91b4;
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
@media screen and (max-width: 520px){
  .card {
    max-width: 100%;
    padding: 3px;
  }
  .card img {
    height: 18em;
  }
  #search-container #search{
    padding-inline: 0.4em;
  }
}
@media screen and (max-width: 440px){
  .card img {
      height: 15em;
  }
}
@media screen and (max-width: 370px){
  .card img {
    height: 12em;
  }
}